
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/ad?characterEncoding=utf8&serverTimezone=UTC
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false